body{
   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.f1{
    /* border: 3px solid gray; */
    border-radius: 10px;
    height: 550px;
    width:400px;
    max-width: 100%;
    margin:auto;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 10px;
    box-shadow: 13px 22px 18px 3px rgb(141, 203, 245);

    background-color: black;
    color: wheat;
    

    


}

.para{
    font-size: 40px;
    font-family:"Audiowide",sans-serif ;
    text-shadow: 1px 1px 2px black,0 0 25px blue,0 0 25px darkblue;
    text-align: center;
    color: white;
    position: relative;
    top: 17px;

}
 
.d1{
    display: inline-block;
}
.l1{
    display: inline-block;

}

.i1{
    margin-left: 50px;
    box-shadow: 1px 4px 15px -4px grey;
    border-radius: 5px;
}
.d2{
    display: inline-block;
}
.l2{
    display: inline-block;
    
}

.i2{
    margin-left: 52px;
    box-shadow: 1px 4px 15px -4px grey;
    border-radius: 5px;
}
.d3{
    display: inline-block;
}
.l3{
    display: inline-block;
    
}

.i3{
    margin-left: 72px;
    box-shadow: 1px 4px 15px -4px grey;
    border-radius: 5px;
}
.d4{
    display: inline-block;

}
.l4{
    display: inline-block;
    
}
.i4{
    margin-left: 90px;
    box-shadow: 1px 4px 15px -4px grey;
    border-radius: 5px;
}
.d5{
    display: inline-block;
 }
 .l5{
    display: inline-block;
 }

 h1{
    font-size: 40px;
     font-family:Georgia, 'Times New Roman', Times, serif ;
     text-shadow: 4px 10px 11px #0b0000, 0 0 7px #eaeaea, 0 0 24px #f2eded;
     text-align: center;
     color: rgb(61, 63, 63);
 }
.button{
    padding: 15px 25px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 13px;
    box-shadow: 0 6px 13px #999;
    position: relative;
    top: 23px;
    
}
.button:hover {background-color: #ff96ad;
    border-bottom: 0 0 5px #ff96ad,0 0 25 #ff96ad,0 0 50px #ff96ad,0 0 200px #ff96ad;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}